.body{
    background-color: rgb(238, 8, 8);
    border-radius: 14px 14px 14px 14px;
    border: 2px solid red;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    
}
.titulo{
    font-size: large;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.content{
    background-color: white;
    padding: 20px;
    color:black;
    border-radius: 0px 0px 14px 14px;
    display: flex;
    justify-content: center;

    
}