.body-0{
    border-radius: 14px 14px 14px 14px;
    border: 1px solid ;
    color: black;
    font-family: 14px "Noto Serif JP", serif;  
    height: 300px;
    width: 300px;    
    display: flexbox;
}
.titulo-0{
    font-size: large;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.content-0{
    background-color: white;
    padding: 20px;
    color:black;
    border-radius: 0px 0px 14px 14px;
    display: flex;
    justify-content: center;  
    align-items: stretch;
}