.body-{
    background-color: rgb(39, 228, 156);
    border-radius: 14px 14px 14px 14px;
    border: 2px solid rgb(39, 228, 156);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    
}
.titulo-{
    font-size: large;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.content-{
    background-color: white;
    padding: 20px;
    color:black;
    border-radius: 0px 0px 14px 14px;
    display: flex;
    justify-content: center;

    
}