
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    /* margin: 20px; */
    padding: 5%;
    background-color: rgb(66, 66, 141);
    color: white;
 }
 .title{
    display: flex;
     justify-content: center;
 }
 .spaceX{
   margin-top: 20px;
 }